body{
    padding:0;
    margin:0;
    background: #f5f5f5;
}
#carouselIndicators{
    padding:0;
}
.carousel-indicators li{
    height:10px;
    width:10px;
    border-radius:50%;
}
.carousel-control-prev, .carousel-control-next{
    width:3%;
    height:16%;
    top:42%;
    background:rgba(0,0,0,0.3);
    border-radius:3px;
}
.carousel-control-prev{
    left:5px;
}
.carousel-control-next{
    right:5px;
}
.my_small{
    font-size:0.8rem;
}
.my_grey{
    color:#666;
}
.my_border_bottom{
    border-bottom:2px solid #ddd !important;
}
.my_bg_grey{
    background:#e8e8e8;
}
.lap1_position{
    position:absolute;
    bottom:4px;
    right:6px;
}
.lap3_position{
    position:absolute;
    bottom:47px;
    right:5px;
}
.position_relative{
    position:relative;
}
.price{
    color:#0aa1ed;
    font-size:20px;
}
.details{
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    width:25%;
    color:#fff;
    background:#0aa1ed;
    text-align: center;
    border-radius:2px;
}
.sm_details{
    display:block;
    padding-top:3px;
    padding-bottom:1px;
    width:50%;
    color:#fff;
    background:#0aa1ed;
    text-align: center;
    border-radius:2px;
}
@media (min-width: 992px){
    .my_border_right{
        border-right:8px solid #f5f5f5;
    }
}
@media (max-width: 991px){
    .my_border_top{
        border-top:8px solid #f5f5f5;
    }
}