*{
    padding:0;
    margin:0;
}
body{
    padding:0;
    margin:0;
    background: #f5f5f5;
}
.my_small{
    font-size:0.8rem;
}
.my_grey{
    color:#666;
}
a,a:hover{
    text-decoration: none;
}
h6>a{
    text-decoration: none;
    color:#666;
}
#carouselIndicators{
    padding:0;
}
.carousel-indicators li{
    height:10px;
    width:10px;
    border-radius:50%;
}
.carousel-control-prev, .carousel-control-next{
    width:3%;
    height:16%;
    top:42%;
    background:rgba(0,0,0,0.3);
    border-radius:3px;
}
.carousel-control-prev{
    left:5px;
}
.carousel-control-next{
    right:5px;
}
.my_small{
    font-size:0.8rem;
}
.my_grey{
    color:#666;
}
.my_border_bottom{
    border-bottom:2px solid #ddd !important;
}
.my_bg_grey{
    background:#e8e8e8;
}
.my_img:hover{
    transform:scale(1.1,1.1);
}
.my_img{
    transition:all 1s linear;
}
.lap1_position{
    position:absolute;
    bottom:4px;
    right:10px;
}
.lap3_position{
    position:absolute;
    bottom:47px;
    right:10px;
}
.position_relative{
    position:relative;
}
.price{
    color:#0aa1ed;
    font-size:20px;
}
.details{
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    width:25%;
    color:#fff;
    background:#0aa1ed;
    text-align: center;
    border-radius:2px;
}
.details:hover,.sm_details:hover{
    background:#0aafff;
    color:#fff;
}
.sm_details{
    display:block;
    padding-top:4px;
    padding-bottom:4px;
    width:50%;
    color:#fff;
    background:#0aa1ed;
    text-align: center;
    border-radius:2px;
    font-size:0.8rem;
}
@media (min-width: 992px){
    .my_border_right{
        border-right:8px solid #f5f5f5;
    }
    .lap1_position{
        position:absolute;
        bottom:1rem;
        right:3rem;
    }
    .lap3_position{
        position:absolute;
        bottom:3rem;
        right:3rem;
    }
}
@media (max-width:991px){
    .my_border_top{
        border-top:8px solid #f5f5f5;
    }
}
@media (min-width:768px){
    .my_sm_border_right{
        border-right:8px solid #f5f5f5;
    }
    .lap1_position{
        position:absolute;
        right:3rem;
    }
    .lap3_position{
        position:absolute;
        bottom:3rem;
        right:4rem;
    }
    .my_product_border_right{
        border-right:15px solid #f5f5f5;
    }
}
@media (max-width:767px){
    .my_sm_border_top{
        border-top:8px solid #f5f5f5;
    }
}
/*iframe样式*/
.my_header,.my_footer{
    width:100%;
    height:100%;
}
/*iframe高度难调*/
@media screen and (min-width:992px) {
    .my_footer {
        height: 30rem;
    }
    .my_header{
        height:7rem;
    }
}
@media screen and (max-width:991px) {
    .my_footer {
        height: 60rem;
    }
    .my_header{
        height:20rem;
    }
}
/*product*/
.my_bg_frame{
    background-image:linear-gradient(to bottom,#ECECEC 0%,#E1E1E1 100%);
    height:2.5rem;
    line-height:2.5rem;
}
.my_font_size{
    font-size:13px;
    font-weight: bold;
}
.cartadd {
    display:block;
    color:#fff;
    background:#0aa1ed;
    text-align: center;
    border-radius:2px;
    margin-left:2rem;
    font-size:12px;
}
.my_btn{
    width:30px;
    height:30px;
    border-radius:0;
    text-align:center;
    line-height:30px;
}
.my_input{
    width:1rem !important;
}
.my_xsmall{
    font-size:15px;
}
.my_product_href,.my_product_href:hover{
    color:#666;
}
.page-item.active .page-link {
    background-color: #0aa1ed;
    border:1px solid transparent;
}
.my_page_item{
    border-radius:0.3rem;
    margin-left:0.25rem;
    margin-right:0.25rem;
}
.page-item .page-link{
    border-radius:0.3rem;
}
.my_page_item_right{
    margin-right:0.25rem;
}
.my_page_item_left{
    margin-left:0.25rem;
}
.btn_light_blue {
    background: #0aa1ed;
}

/*购物车*/
.my_position_fixed{
    right:2%;
    top:50%;
    width:280px;
}
.border_dashed{
    border-bottom:1px dashed #ddd;
    border-top:1px dashed #ddd;
}


/*product details*/
/*AppleMacBook*/
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.overflow_hidden{
    overflow:hidden;
}
.my_bg_grey_shadow{
    background-image:linear-gradient(to bottom,#EFEFEF 0%,#E0E0E0 100%);
    box-shadow:1px 1px 3px 4px #E0E0E0;
}
.price_font_lg{
    font-size:30px;
    color:#0aa1ed;
}
.w-95{
    width:95%;
}
.spec_border{
    border:1px solid #666666;
    display:inline-block;
    color:#666;
    padding:8px;
}
.spec_border.active{
    border:2px solid #0aa1ed;
}
.spec_border:hover{
    color:#0aa1ed;
    border:1px solid #0aa1ed;
}
.w-5{
    width:5%;
}
.ml-6{
    margin-left:3.3rem;
}
.buy_now{
    display:inline-block;
    width:25%;
    text-align:center;
    color:#0aa1ed;
    margin-right:10px;
    border-radius:3px;
}
.buy_now:hover{
    background:#d0d0d0;
    color:#0aa1ed;
}
.add_cart{
    display:inline-block;
    width:25%;
    text-align:center;
    background:#0aa1ed;
    color:#fff;
    padding-top:7px;
    padding-bottom:7px;
    margin-right:10px;
}
.add_cart:hover{
    background:#0991ed;
    color:#fff;
}
.favorites{
    display:inline-block;
    width:10%;
    text-align:center;
    background:#0aa1ed;
    color:#fff;
    position:relative;
    top:16px;
}
.favorites:hover{
    background:#0991ed;
    color:#fff;
}
.relative_top{
    position:relative;
    bottom:7px;
}
.img_transition{
     transition:all;
}
.img_transition:hover{
    transform:translateY(1px);
    border:1px solid #ddd;
}
.font_big{
    font-size:23px;
}
.my_sx_small{
    font-size:5px;
}
.bg_blue{
    background:#0aa1ed;
}
.a_link.active{
    display:inline-block;
    border-bottom:2px solid #0aa1ed;
}
.mr-6{
    margin-right:6rem;
}
.text-blue{
    color:#0aa1ed;
}
.my_light_grey{
    color:#828282;
}