/* header */

* {
    padding: 0;
    margin: 0;
}

body {
    width: 1500px;
    margin: 0 auto;
}

.margin_auto {
    margin: 0 auto;
}

.position_fixed {
    position: fixed;
}

.display_none {
    display: none;
}

.bg_b {
    background: #2F2C2F;
    color: #fff;
}

#header {
    width: 1500px;
    height: 50px;
    margin: 0 auto;
    background: #fff;
    z-index: 200;
    box-shadow: 0 0.1px 20px 1px #E2E1D9;
}

#navs,
#fashion>ul {
    list-style-type: none;
    width: 1502.4px;
    height: 50px;
}

#navs:after {
    content: "";
    display: block;
    clear: both;
}

#navs li>a {
    width: 125px;
    height: 50px;
    border: 0.1px solid #ccc;
    float: left;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

#navs>li>a {
    border-left: 0;
    border-bottom: 0;
}

#navs li:first-child>a {
    border-left: 0.1px solid #ccc;
}

#navPics {
    width: 1500px;
    height: 400px;
    background: #2F2C2F;
    top: 60px;
    padding: 74px 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-shrink: 1;
    box-sizing: border-box;
    z-index: 100
}

#navPics>li>a {
    display: block;
}

#navPics img,
#navPics>li,
#navPics>li>a,
.hoax {
    width: 315px;
    height: 252px;
    border: 0;
}

.hoax {
    background: #000;
    opacity: 1;
}

#content {
    margin: 0 auto;
    width: 1502.4px;
    height: 750px;
    background: url(../img/home/main-slider.jpg) no-repeat;
    background-size: 1502.4px;
    margin-top: 50px;
}

#content>ul {
    width: 300px;
    margin-left: 246px;
    margin-top: 215px;
    list-style-type: none;
    font-size: 25px;
}

.text_align_center {
    text-align: center;
}

.letter_spacing_3 {
    letter-spacing: 12px;
}

.color_black {
    color: black;
}

.link_style_none {
    text-decoration: none;
}

.display_block {
    display: block;
}

.rounded {
    border-radius: 30px;
}

.btn_pink {
    padding: 15px 25px;
    border: 2px solid #EC3A5E;
    background: #EC3A5E;
    color: #fff;
    display: block;
    border-radius: 30px;
    text-decoration: none;
}

.btn_pink_hover:hover {
    color: #EC3A5E;
    background: rgb(255, 255, 255, 0);
}

.font_bold {
    font-weight: bold;
}

.mt-20 {
    margin-top: 40px;
}

.carousel {
    width: 500px;
    height: 359px;
    overflow: hidden;
    bottom: 272px;
    left: 685px;
}

.carousel_img {
    width: 5548px;
    height: 359px;
}

.position_relative {
    position: relative;
}

.position_absolute {
    position: absolute;
}

.slider_img_size {
    width: 500px;
    height: 359px;
}

#content ul>li>img {
    right: 16px;
}

#info {
    height: 80px;
    line-height: 100px;
    text-align: center;
    margin: 50px auto;
    font-size: 20px;
}

#info>a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
    border: 1px solid #EBEBEB;
}

#info>a:hover {
    background: #000;
    color: #fff;
}

.word_spacing {
    letter-spacing: 10px;
}

#info .word_spacing {
    margin: auto;
    line-height: 70px;
    width: 383px;
    height: 70px;
}


/* products */

ul {
    list-style: none;
}

.themeGreen,
.themeWhite {
    height: 650px;
}

.themeGreen {
    background: #F3F2E9;
}

.themeGreen>ul>li,
.themeWhite>ul>li {
    margin-bottom: 40px;
    font-size: 20px;
    letter-spacing: 8px;
}

.themeGreen>ul>li>ul>li:last-child,
.themeWhite>ul>li>ul>li:last-child {
    font-size: 10px;
    color: #A5A5A2;
    letter-spacing: 5px;
}

.themeGreen>ul>li:last-child>a,
.themeWhite>ul>li:last-child>a {
    letter-spacing: 2px;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    background: #fff;
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
    left: 30px;
    font-weight: bold;
    z-index: 100;
}

.themeWhite>ul>li:last-child>a {
    border: 2px #EBEBEB solid;
}

.themeGreen>ul>li:last-child>a:hover {
    color: #fff;
    background: #EC3A5E;
}

.themeWhite>ul>li:last-child>a:hover {
    color: #fff;
    background: #000;
}

.themeGreen>ul>li:first-child,
.themeWhite>ul>li:first-child {
    display: flex;
}

.themreGreen>ul>li:first-child>li {
    font-size: 25px;
}

#fashion>div>div:first-child>img:first-child {
    bottom: 20px;
    right: 33px;
}

#fashion>div>div:first-child>img:last-child {
    bottom: 248px;
    left: 87px;
}

#fashion>div>div:last-child>img:last-child {
    bottom: 146px;
    left: 124px;
}

#fashion>div {
    right: -27px;
}

#furniture>div>div:first-child>img:first-child {
    bottom: 20px;
    left: 20px;
}

#furniture>div>div:first-child>img:nth-child(2) {
    bottom: 203px;
    left: 10px;
}

#furniture>div>div:first-child>img:last-child {
    bottom: 395px;
    left: 63px;
}

#furniture>div>div:last-child>img:first-child {
    bottom: 36px;
    right: 172px;
}

#furniture>div>div:last-child>img:nth-child(2) {
    bottom: 251px;
    right: 40px;
}

#furniture>div>div:last-child>img:last-child {
    bottom: 472px;
    left: 89px;
}

#furniture>div {
    top: -62px;
}

#furniture {
    height: 727px;
}

#electronics {
    height: 769px;
}

#electronics>div {
    top: -75px;
    right: 83px;
}

#electronics>div>div:first-child>img:first-child {
    bottom: -6px;
    left: -24px;
}

#electronics>div>div:first-child>img:last-child {
    bottom: 212px;
    left: 92px;
}

#electronics>div>div:last-child>img:last-child {
    bottom: 200px;
    left: 116px;
}

#car>div {
    top: -48px;
    left: 2px;
}

#car>div>div:first-child>img:last-child {
    bottom: 156px;
    left: 10px;
}

#car>div>div:last-child>img:first-child {
    bottom: 76px;
    right: 277px;
}

#car>div>div:last-child>img:nth-child(2) {
    bottom: 313px;
    right: 135px;
}

#car>div>div:last-child>img:last-child {
    bottom: 527px;
    right: 22px;
}

#car>ul>li:nth-child(2) {
    position: relative;
    left: 61px;
}

#car>div>div:first-child {
    top: 205px;
}

#car>div>div:last-child {
    top: 16px;
    right: 112px;
}

#goods>div {
    top: -95px;
    right: 80px;
}

#goods>div>div:first-child>img:first-child {
    right: 42px;
    bottom: 8px;
}

#goods>div>div:first-child>img:last-child {
    right: -97px;
    bottom: 207px;
}

#goods>div>div:last-child>img:last-child {
    left: 222px;
    bottom: 166px;
}

#underwear {
    height: 749px;
}

#underwear>div {
    top: -19px;
    left: -13px;
}

#underwear>div>div:first-child>img:first-child {
    top: 222px;
    right: -10px;
}

#underwear>div>div:first-child>img:last-child {
    top: 72px;
    right: -8px;
}

#underwear>div>div:last-child>img:first-child {
    top: 15px;
    right: 191px;
}

#underwear>div>div:last-child>img:last-child {
    bottom: 191px;
    right: 69px;
}

#underwear>div>div:last-child {
    right: 183px;
    bottom: 83px;
}

#jewelry>div {
    top: -189px;
    right: 179px;
}

#jewelry>div>div:first-child> {
    left: 10px;
}

#jewelry>div>div:first-child>img:first-child {
    right: 81px;
    top: 25px;
}

#jewelry>div>div:first-child>img:last-child {
    left: 150px;
    bottom: 218px;
}

#jewelry>div>div:last-child>img:last-child {
    left: 69px;
    bottom: 199px;
}

#bike>div>div:first-child>img:nth-child(2) {
    bottom: 170px;
    left: -12px;
}

#bike>div>div:first-child>img:last-child {
    bottom: 353px;
    left: 48px;
}

#bike>div>div:last-child>img:last-child {
    bottom: 197px;
    left: 288px;
}

#bike>div>div:first-child {
    top: -71px;
    left: 10px;
}

#bike>div>div:last-child {
    top: -39px;
    right: 183px;
}

#bike {
    height: 768px;
}

#kids>div>div:first-child>img:last-child {
    bottom: 203px;
    left: 134px;
}

#kids>div>div:last-child>img:last-child {
    bottom: 120px;
    left: 225px;
}

#kids>div>div:last-child {
    left: 42px;
    top: 0px;
}

#kids>div {
    top: -49px;
    left: 389px;
}

#kids {
    height: 740px;
}

#cosmetic>div>div:first-child>img:last-child {
    bottom: 165px;
    right: -4px;
}

#cosmetic>div>div:last-child>img:nth-child(2) {
    bottom: 170px;
    left: 127px;
}

#cosmetic>div>div:last-child>img:last-child {
    bottom: 366px;
    left: 251px;
}

#cosmetic>div>div:last-child {
    top: 44px;
    right: 172px;
}

#cosmetic {
    height: 835px;
}

#pet>div>div:first-child>img:last-child {
    top: 94px;
    left: 509px;
}

#pet>div>div:last-child>img:last-child {
    bottom: 469px;
    left: 549px;
}

#pet>div>div:last-child {
    top: 477px;
    right: 93px;
}

#pet>div {
    bottom: 109px;
    left: 67px;
}

#pet {
    height: 700px;
}

#tool>div>div:first-child>img:last-child {
    bottom: 205px;
    right: -76px;
}

#tool>div>div:first-child>img:nth-child(2) {
    bottom: 89px;
    left: -3px;
}

#tool>div>div:last-child>img:last-child {
    bottom: 201px;
    left: 247px;
}

#tool>div>div:last-child>img:first-child {
    bottom: 80px;
    left: -14px;
}

#tool>div>div:last-child {
    top: 44px;
    right: 172px;
}

#tool {
    height: 835px;
    border-bottom: 1px solid #E7E7E7;
}

#advantage,
#tip {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

#advantage>div,
#new>div,
#tip>div {
    display: flex;
    justify-content: space-around;
}

#advantage>div>ul {
    width: 600px;
    margin-top: 50px;
}

#new {
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    background: #FCFCF9;
    padding-top: 50px;
    padding-bottom: 50px;
}

#new>div>ul>li {
    width: 700px;
}

#new>div>ul>li:last-child {
    margin-top: 20px;
}

#tip>div>ul {
    width: 300px;
    height: 230px;
    margin-top: 30px;
    text-align: left;
}

#tip>div>ul>li:first-child {
    margin-bottom: 20px;
}

#tip>div:last-child {
    justify-content: flex-start;
    padding-left: 32px;
}

#tip>div:last-child>ul:last-child {
    margin-left: 77px;
}

footer {
    background: #F4F3EA;
    text-align: center;
    padding-top: 50px;
}

footer>ul>li {
    margin-top: 50px;
}

footer>ul>li>a {
    width: 300px;
    margin: 20px auto;
}