*{
    margin:0;
    padding:0;
}
body{
    background:url(../img/index/banner.jpg) no-repeat fixed;
    background-size:cover;
    font-style:Stanford,Source Serif Pro,Georgia,Times,Times New Roman,serif !important;
}
.bg_dark_red:hover{
    background:#820000 !important;
}
.bg_red{
    background:#B1040E !important;
}