/* header */

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    background: #fff;
}
body{
    width: 1500px;
}
a {
    text-decoration: none;
    color: #767676;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.floatF {
    float: left;
}

.word_spacing {
    letter-spacing: 10px;
}

.btn {
    box-shadow: 0 0.1875rem 1.8125rem 0 rgba(0, 0, 0, .09);
    border: none;
    transition: .5s all ease;
    text-align: center;
    display: inline-block;
}
.collapse {
    display: none;
}
.location {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #EA917D;
    padding: 12px 12px;
    bottom: 20px;
    right: 20px;
    display: inline-block;
}

.location .mui-icon.mui-icon-arrowup {
    color: #fff;
}

.location:hover {
    background: #DC4725;
}