header {
    padding-top: 30px;
    background-color: transparent;
    z-index: 100;
    width: 1500px;
}

header, .register, .code_forget {
    transition: .5s all ease;
}

.header_logo {
    width: 250px;
    margin-left: 30px;
    bottom: 20px;
}

.rcmd {
    right: 7px;
    top: 135px;
    width: 225px;
    height: 250px;
    align-items: center;
    text-align: center;
    margin-right: 50px;
    justify-content: space-around;
    flex-direction: column;
}

.header_logo_inner_content {
    margin-left: 10px;
}

.header_logo_inner_content>h3 {
    margin-bottom: 5px;
}

.fashion_card_inner_header {
    width: 60%;
}

header, .navbar, .fashion_card_content, .u_info, .fashion_card_head, .rcmd {
    display: flex;
}

.navbar_item, .header_logo，.fashion_img_content, .img_lookbook {
    position: relative;
}

.navbar_item_link, .fashion_card_content_link, .arrow, .fashion_card_link {
    display: inline-block;
}

.navbar_item_link:hover {
    color: rgba(0, 0, 0, 0.829);
}

.fashion_item, .fashion_card_content_link, .card_content_link {
    text-align: left;
}

.fashion_item {
    margin-bottom: 15px;
}

.fashion_card_content_link {
    padding-bottom: 8px;
    border-bottom: 2px solid #F5F1F0;
}

.fashion_img_content {
    overflow: hidden;
}

.navbar_item>.fashion_card_head.fashion_men {
    flex-direction: column;
    width: 360px;
    left: -100px;
    height: 397px;
}

.navbar_item>.fashion_card_head.fashion_men, .card_link_nav {
    padding-left: 65px;
}

.card_link_nav {
    top: 0px;
    right: -282px;
    width: 278px;
    height: 250px;
    padding-top: 6px;
}

.fashion_card_link {
    width: 100%;
}

.fashion_img_content>a {
    display: block;
}

.fashion_card_content, .fashion_card_content>ul, .fashion_img_content {
    width: 650px;
}

.navbar_item>.fashion_card_head {
    margin-top: 30px;
    top: 36px;
    width: 1445px;
    height: 600px;
    left: -260px;
    padding-top: 30px;
    padding-left: 65px;
}

.navbar_item>.fashion_card_head, .card_link_nav {
    background: #fff;
}

.navbar_item>.fashion_card_head, .card_link_nav, header, .abst, .rcmd, .close {
    position: absolute;
}

.fashion_card_content_link {
    height: 100%;
    width: 100%;
    color: #BABABA;
    margin-bottom: 10px;
}

.fashion_card_content_link:hover {
    color: #8A8F95;
}

.navbar {
    width: 1000px;
}

.navbar_item {
    text-align: center;
    margin-right: 50px;
    height: 100%;
}

.navbar_item>a {
    margin-top: 23px;
}

.navbar, .u_info {
    align-items: center;
}

.fashion_card_content, .u_info {
    justify-content: space-around;
}

.u_info {
    width: 190px;
    margin-right: 10px;
    align-items: center;
}

.arrow, .arrowR {
    transition: .5s all ease
}

.btn {
    background: #fff;
    width: 180px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    font-weight: 800;
}

.btn:hover {
    background: #EC9D8B;
    color: #fff;
}

.arrow {
    width: 20px;
    transform: rotate(90deg);
}

.arrowR {
    margin-left: 150px;
    padding-bottom: 5px;
    color: #BABABA;
}

.collapse {
    display: none;
}

.fashion_link:hover, .u_info span:hover {
    color: #EC9D8B;
}

.fixed, .log_container, .login_frame, .register_frame {
    position: fixed;
}

.header_logo_content>img {
    height: 40px;
}

.img_content_bg {
    overflow: hidden;
    background: rgb(223, 223, 223);
    width: 610px;
    height: 550px;
}

.img_lookbook {
    width: 637px;
    right: 128px;
}

.slogan {
    font-size: 24px;
    color: #767676;
}

.card_item {
    margin-top: 30px;
    text-align: left;
}

.fashion_women, .fashion_men, .card_link_nav {
    box-shadow: rgb(226, 225, 217) 0px 0.1px 20px;
}

/* login frame setting */

.login_frame {
    height: 455px;
}

.register_frame {
    height: 605px;
}

.register_frame, .login_frame {
    width: 470px;
    padding: 50px;
    background: #fff;
    top: 10%;
    text-align: center;
    box-shadow: rgb(246, 245, 245) 0px 0.1px 5px;
    left: 34%;
}

.log_container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}

.close {
    top: 27px;
    right: 36px;
    font-size: 20px;
    cursor:pointer;
}

.login_frame li:not(:nth-child(6)) {
    margin-bottom: 15px;
}

.uname, .upwd, .runame, .rupwd, .remail {
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    text-align: center;
    background: #fff;
}

.btn.login, .btn.reg, .btn.backLogin {
    width: 90%;
    height: 46px;
    line-height: 35px;
    box-shadow: none;
    border: 2px solid #eee;
}

.btn.backLogin {
    background: #EC9D8B;
    color: #fff;
}

.btn.backLogin:hover {
    background: #fff;
    color: #EC9D8B;
    border: 1px solid #EC9D8B;
}

.btn.login:hover, .btn.reg:hover {
    background: #2F2C2F;
    color: #fff;
}

.share span {
    margin-right: 10px;
    width: 110px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    color: #fff;
    background: #E22428;
    cursor: pointer;
}

.share span:hover {
    background: #fff;
}

.mui-icon.mui-icon-weixin {
    background: #00D105;
}

.mui-icon.mui-icon-qq {
    background: #EFB015;
}

.login_frame li:nth-child(2) {
    font-size: 20px;
}

.mui-icon.mui-icon-weibo:hover {
    border: 1px solid #E22428;
    color: #E22428;
}

.mui-icon.mui-icon-weixin:hover {
    border: 1px solid #00D105;
    color: #00D105;
}

.mui-icon.mui-icon-qq:hover {
    border: 1px solid #EFB015;
    color: #EFB015;
}

.register, .code_forget {
    cursor: pointer;
    letter-spacing: 4px;
}

.register:hover, .code_forget:hover,.close:hover {
    color: #EC9D8B;
}

.register_frame li {
    margin-bottom: 20px;
}

.msg, .register, .code_forget {
    font-size: 12px;
}

/* regular expression check */

.vali_info {
    display: none;
}

.txt_focus {
    border: 1px solid black !important;
}

.vali_success, .vali_fail {
    background-repeat: no-repeat;
    background-position: 40% center;
    display: block;
}

.vali_success {
    background-image: url("../img/log/ok.png");
    padding-left: 20px;
    height: 20px;
    overflow: hidden;
}

.vali_fail {
    background-image: url("../img/log/err.png");
    color: Red;
    padding-left: 30px;
}