/* login frame setting */

.log_container, .login_frame, .register_frame {
    position: fixed;
    z-index: 1000;
}

.close {
    position: absolute;
}

.register_frame, .login_frame {
    width: 470px;
    padding: 50px;
    background: #fff;
    top: 10%;
    text-align: center;
    box-shadow: rgb(246, 245, 245) 0px 0.1px 5px;
    left: 34%;
}

.log_container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}

.close {
    top: 27px;
    right: 36px;
    font-size: 20px;
    cursor: pointer;
}

.login_frame li:not(:nth-child(6)) {
    margin-bottom: 15px;
}

.user.uname, .user.upwd, .user.email, .user.tel {
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    text-align: center;
    background: #fff;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 6px;
}

.btn.login, .btn.reg, .btn.backLogin {
    width: 90%;
    height: 46px;
    line-height: 35px;
    box-shadow: none;
    border: 2px solid #eee;
}

.btn.backLogin {
    background: #EC9D8B;
    color: #fff;
}

.btn.backLogin:hover {
    background: #fff;
    color: #EC9D8B;
    border: 1px solid #EC9D8B;
}

.btn.login:hover, .btn.reg:hover {
    background: #2F2C2F;
    color: #fff;
}

.loginToggle span {
    margin-right: 10px;
    width: 110px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    color: #fff;
    background: #E22428;
    cursor: pointer;
}

.loginToggle span:hover, .loginToggle .mui-icon.mui-icon-weixin:hover {
    background: #fff;
}

.loginToggle .mui-icon.mui-icon-weixin {
    background: #00D105;
}

.mui-icon.mui-icon-qq {
    background: #EFB015;
}

.login_frame li:nth-child(2),.register_frame li:nth-child(2)  {
    font-size: 20px;
}

.loginToggle .mui-icon.mui-icon-weibo:hover {
    border: 1px solid #E22428;
    color: #E22428;
}

.loginToggle .mui-icon.mui-icon-weixin:hover {
    border: 1px solid #00D105;
    color: #00D105;
}

.mui-icon.mui-icon-qq:hover {
    border: 1px solid #EFB015;
    color: #EFB015;
}

.register, .code_forget {
    cursor: pointer;
    color: #111;
}

.register, .code_forget,.btn.reg,.btn.login{
    letter-spacing: 4px;
}
.register:hover, .code_forget:hover, .close:hover {
    color: #EC9D8B;
}

.register_frame li {
    margin-bottom: 13px;
}

.msg, .register, .code_forget {
    font-size: 16px;
    height: 17px;
}

.msg {
    color: #aaa;
    display: inline-block;
}

/* regular expression check */

.vali_info {
    display: none;
}

.txt_focus {
    border-bottom: 1px solid #bbb !important;
}

.vali_success, .vali_fail {
    background-repeat: no-repeat;
    background-position: 35% center;
    display: block;
}

.vali_success {
    background-image: url("../img/log/ok.png");
    padding-left: 20px;
    height: 20px;
    overflow: hidden;
}

.vali_fail {
    background-image: url("../img/log/err.png");
    color: Red;
    padding-left: 30px;
}